.text-0_8 {
    font-size: .8rem;
}

.text-1 {
    font-size: 1rem;
}

.text-1_2 {
    font-size: 1.2rem;
}
.text-0_7 {
    font-size: .7rem;
}

.mt-5 {
    margin-top: 5px;
}
.ml-5 {
    margin-left: 5px;
}
.mr-5 {
    margin-right: 5px;
}
.mt-10 {
    margin-top: 10px;
}

.round {
    border-radius: 50%;
}

.aligned {
    display: flex;
    align-items: center;
}
