{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <div class="header">
        <div class="header-title">
            Evento
        </div>
        <div class="header-options">
            <a href="{% url 'events:list' %}">
                <button class="grey-inverted">Voltar</button>
            </a>
        </div>
    </div>
    <div class="page">
        <div class="card">
            {% include 'events/includes/dropdown.html' %}
            <div class="card-header">
                <div class="card-header-title">
                    {{ event.title }}
                </div>
                <div class="card-header-description">
                    <p>postado por: {{ event.creator.get_full_name }}</p>
                    <p><i class="fas fa-calendar-alt"></i> {{ event.created_at }}</p>
                </div>
            </div>
            <div class="card-content">
                {% if event.image %}
                    <img src="{{ event.image.url }}" style="display: block; margin-bottom: 10px; border-radius: 3px; max-width: 100%; cursor: pointer;">
                {% endif %}
                <p>{{ event.content }}</p>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{% static 'scripts/card-menu.js' %}"></script>
{% endblock scripts %}
