{% extends 'layouts/form.html' %}
{% block form_enctype %}multipart/form-data{% endblock form_enctype %}

{% block content_header %}
    <div class="header-title">
        {% if event %}
            Atualizar Evento
        {% else %}
            Criar Evento
        {% endif %}
    </div>
    <div class="header-content">
        As atividades são visíveis para todos os utilizadores registados.
    </div>
{% endblock %}
{% block form_card_header %}
    <div class="card-header-title">
        Pulicar novo Evento
    </div>
{% endblock form_card_header %}

{% block form_buttons %}
    {% if event %}
        <input type="submit" value="Atualizar Atividade">
    {% else %}
        <input type="submit" value="Criar Atividade">
    {% endif %}
    <a href="{% url 'events:list' %}">
        <button type="button" class="grey-inverted no-border">Cancelar</button>
    </a>
{% endblock form_buttons %}

