{% extends 'layouts/base.html' %}
{% block content %}
    <div class="header">
        <div class="header-title">
             Definições do Utilizador
        </div>
    </div>
    <div class="page">
        <div class="card">
            <div class="card-header">
                <div class="card-header-title">
                    Perfil
                </div>
            </div>
            <div class="card-content">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include 'includes/form.html' with form=profile_form %}
                    <div class="card-content-options">
                        <input type="submit" value="Atualizar" name="profile_form">
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="card-header-title">
                    Password
                </div>
            </div>
            <div class="card-content">
                <form method="post">
                    {% csrf_token %}
                    {% include 'includes/form.html' with form=password_form %}
                    <div class="card-content-options">
                        <input type="submit" value="Atualizar" name="password_form">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
