{% extends 'layouts/confirm_delete.html' %}
{% block content_header %}
    <div class="header-title">
        Grupo de Estudo
    </div>
{% endblock content_header %}
{% block form_header %}
    <div class="card-header-title">
        Deseja remover o grupo de estudo {{ study_group }}?
    </div>

{% endblock form_header %}

{% block form_buttons %}
    <input type="submit" class="red" value="Eliminar">
    <a href="{% url 'studygroups:list' %}">
        <button type="button" class="grey-inverted no-border">Voltar</button>
    </a>
{% endblock form_buttons %}
