{% extends 'layouts/form.html' %}
{% load static %}
{% block content_header %}
    <div class="header-title">
        Grupo de Estudo
    </div>
{% endblock content_header %}
{% block form_header %}
    <div class="card-header-title">
        {% if study_group %}
            Atualizar Grupo
        {% else %}
            Criar Grupo
        {% endif %}
    </div>
{% endblock form_header %}
{% block form_buttons %}
    {% if study_group %}
        <input type="submit" value="Atualizar">
    {% else %}
        <input type="submit" value="Criar">
    {% endif %}
    <a href="{% url 'studygroups:list' %}">
        <button type="button" class="grey-inverted no-border">
            Cancelar
        </button>
    </a>
{% endblock form_buttons %}
