{% extends 'layouts/confirm_delete.html' %}
{% block content_header %}
    <div class="header-title">
        Aluno
    </div>
{% endblock content_header %}
{% block form_header %}
    <div class="card-header-title">
        Remover Aluno: {{ user }}
    </div>
{% endblock %}
{% block form_buttons %}
    <input type="submit" class="red" value="Remover">
    <a href="{% url 'classes:list' %}">
        <button type="button" class="grey-inverted no-border">Cancelar</button>
    </a>
{% endblock form_buttons %}
